REPLICATE_API_TOKEN=your_replicate_api_token_here
FACE_SWAP_MODEL=cdingram/face-swap:d1d6ea8c8be89d664a07a457526f7128109dee7030fdac424788d762c71ed111
RESULT_DIR=app/static/results
DOWNLOAD_TIMEOUT=30
